<div class="tile tileW5 tileH1">
  <div class="postHeader" onclick="postHeaderClicked(event, '$url$')">
	<div class="postThumbnail">
	  <img src="$thumbnail$" alt="$title$"/>
	</div>
	<div class="post tileW4 tileH1">
	  <div class="postTitle" id="POSTTITLE$pt-BR$">
		$title$
	  </div>
	  <div class="postDate" id="POSTDATE$pt-BR$">
		<div class="month">$date.month$</div><div class="day">$date.day$</div><div class="year">$date.year$</div>
	  </div>
	  <div class="postDescription" id="POSTDESCRIPTION$pt-BR$">
		$description$
	  </div>
	  <div class="postRelated" hidden>
		<div class="en-GB">$en-GB$</div>
		<div class="pt-BR">$pt-BR$</div>
		<div class="eo">$eo$</div>
	  </div>
	</div>
  </div>
  <div class="postContent scroll-pane tileH9 tileW5">
		
  </div>
</div>
